@import "tailwindcss";


#Home
{
    height: calc(100vh - 4rem);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10rem;
    text-align: center;
    letter-spacing: .8rem;
    font-weight: bold;
    text-transform: uppercase;
    background-image: linear-gradient(to top,grey, black);
}